.thumbnail {
  background-color: #181818;
  color: white;
  max-width: 350px;
  height: 320px;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.video-preview {
  width: 100%;
  height: 60%;
}

.thumbnail__bottom {
  font-family: var(--theme-font);
  display: flex;
  gap: 0.9rem;
}

.thumbnail__channel-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.thumbnail__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.thumbnail__video-title {
  font-weight: 500;
  line-height: 1.25rem;

  /* TODO: utility class for line clamping */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail__channel-name-meta {
  font-size: 0.9rem;
  color: rgb(170, 170, 170);
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

.thumbnail__channel-name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail__meta {
  display: flex;
}

.thumbnail__views::after {
  content: '•';
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
